
body{
    background-color: #fff;
}

.contenedor-lab{
    /* border: 1px solid red; */
    text-align: center;
    overflow-x: auto;
    width: 100%;
    height: auto;
    margin: auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3951da; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.contenedor-lab table.tabla{
    width: 780px;
    border: 1px solid #d4d4d4;
    margin: 10px;
}
.contenedor-lab table.tabla,
.contenedor-lab table.tabla tr,
.contenedor-lab table.tabla td{
    margin: 50px auto;
    /* border: 1px solid #d4d4d4; */
    border-radius: 5px;
    border-collapse:collapse;
}
h1{
    margin: 30px 0;
    width: 100%;
    text-align: center;
}
.contenedor-lab table.tabla tr{
    height: 40px;
}
.contenedor-lab table.tabla thead tr th{
    width: 250px;
    /* border: 1px solid #d4d4d4; */
}
.contenedor-lab table.tabla thead tr th div{
    border: 1px solid #d4d4d4;
    padding: 10px 20px;
    border-radius: 10px;
    height: 60px;
    vertical-align: middle;
}
.contenedor-lab table.tabla tbody tr th{
    width: 120px;
}
.contenedor-lab table.tabla tbody tr td{
    width: auto;
}
.netflix-1-a,
.netflix-1-b,
.disney-2-a,
.disney-2-b,
.max-3-a,
.max-3-b,
.appletv-4-a,
.appletv-4-b{
 border: #d4d4d4 1px solid;
 border-radius: 10px;
 /* height: 60px; */
 background-color: #cccccc;
 color: black;
 font-size: 12px;
 padding: 20px;
 cursor: pointer;

    position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}
.netflix-1-a:hover,
.netflix-1-b:hover,
.disney-2-a:hover,
.disney-2-b:hover,
.max-3-a:hover,
.max-3-b:hover,
.appletv-4-a:hover,
.appletv-4-b:hover{
    background-color: #bd86f0;
    transition: all .4s ease-in-out;
}

/*MODALES*/
@media screen and (max-width: 780px) {
    .modal-content {
      background: #fff;
      padding: 2rem;
      border-radius: 10px;
      width: 90%;
      height: auto;
      margin: 0 20px;
    }
    button.modal-close{
    position: absolute;
    left: 83% !important;
    top: 28%;
}
}
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}
.modal.active {
  display: flex;
}
.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  height: auto;
  margin: 0 20px;
}
.modal-content h3{
    margin: 20px 0;
}

.modal-content p{
    margin-bottom: 20px;
    color: #555;
}
.modal-content a.btn-modal{
    background-color: #7878f5;
    text-align: center;
    padding: 10px 60px;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    transition: all .4s ease-in-out;
    display: block;
}
.modal-content a.btn-modal{
    background-color: #4b4ba1;
}

button.modal-close{
    position: absolute;
    left: 57%;
    top: 28%;
    background-image: url(../image/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    background-color: transparent;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
}
button.modal-trigger{
    border: #d4d4d4 1px solid;
    border-radius: 10px;
    /* height: 60px; */
    background-color: #cccccc;
    color: black;
    font-size: 12px;
    padding: 20px;
    cursor:auto
}
button.modal-trigger:hover{
    background-color: #bd86f0;
    transition: all .4s ease-in-out;
}



/******************/


/* .close{
    cursor: pointer;
    background-image: url(../image/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    position: relative;
    top: -9px;
    left: 339px;
    background-color: #FFF;
    width: 20px;
    height: 20px;
    border-radius: 30px;
} */

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;

  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
    /* top: -300px;
  left: -310px; */
}
.netflix-1-a:hover .tooltip {
  visibility: visible;
}